@media all and (max-width:670px ){
  .header-right a{
    height: 40px;
    line-height: 1px;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    margin: 16px 0;
  }

  .phone-right-pc{
    display: none;
  }

  .phone-right-phone{
    display: block;
  }

  .q-and-a h1{
    font-size: 25px;
  }

.q-and-a ul{
  padding: 0;
}

.question, .answer{
  font-size: 15px;
}
}