*{
  box-sizing: border-box;
}

body{
  background-color: rgb(202, 246, 241);
}

.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.clear{
  clear: left;
}
header{
  height: 80px;
  background-color: black;
}

.header-left img{
  float: left;
  height: 70px;
  width: 124px;
  margin: 6px 0;
}

.header-right a{
  float: right;
  color: antiquewhite;
  background-color: rgb(18, 169, 134);
  height: 80px;
  text-align: center;
  padding: 30px 30px;
  font-weight: bolder;
}

.header-right a:hover{
  background-color: rgb(26, 199, 159);
}

.q-and-a {
  padding: 50px 0;
  font-family: "游ゴシック";
}

.q-and-a h1{
  font-size: 37px;
  border-bottom: 1px solid gray;
}

.contents{
  padding: 10px 0;
  line-height: 17px;
}
.q-and-a h2{
  font-size: 19px;
}

.q-and-a p{
  font-size: 22px;
  padding-left: 40px;
  line-height: 30px;
}

.btn{
  text-align: center;
  margin: 50px 0 30px 0;
}

.btn a{
  background-color: rgb(18, 169, 134);
  color: antiquewhite;
  text-align: center;
  padding: 30px 50px;
  border-radius: 4px;
}

.btn a:hover{
  background-color: rgb(26, 199, 159);
}

footer{
  border-top: 1px solid gray;
  margin: 80px 0;
  text-align: center;
  height: 40px;
  line-height: 1px;
}
footer img{
  height: 55px;
  width: 100px;
  margin: 20px auto 0 auto;
}

footer p{
  font-size: 13px;
  color: gray;
}