*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: aliceblue;
}

.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


header{
  height: 80px;
  background-color: black;
}

.header-left img{
  float: left;
  height: 70px;
  width: 124px;
  margin: 6px 0;
}

.header-right a{
  float: right;
  color: antiquewhite;
  background-color: rgb(18, 169, 134);
  height: 80px;
  text-align: center;
  padding: 30px 30px;
  font-weight: bolder;
}

.header-right a:hover{
  background-color: rgb(26, 199, 159);
}

.q-and-a {
  padding: 25px 0 35px 0;
  font-family: "游ゴシック";
}

.q-and-a h1{
  font-size: 37px;
  border-bottom: 1px solid gray;
}

.contents{
  padding: 10px 0 10px 20px;
  line-height: 17px;
  list-style: none;
  background-color: rgb(225, 225, 225);
  margin: 20px 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
  border-radius: 20px;
}

.question{
  display: flex;
  align-items: center;
  font-size: 19px;
  padding-right:10px;
  font-size: 18px;
}

.q-icon{
  font-weight: bold;
  padding: 0 10px;
}

.q-text{
  line-height: 27px;
}
.answer{
  display: flex;
  align-items: center;
  font-size: 19px;
  padding-right:10px;
  font-size: 18px;
}

.a-icon{
  font-weight: bold;
  padding: 0 10px;
}

.a-text{
  line-height: 27px;
}

.btn{
  text-align: center;
  padding: 30px 0 50px 0;
}

.btn a{
  background-color: rgb(18, 169, 134);
  color: antiquewhite;
  text-align: center;
  padding: 30px 50px;
  border-radius: 4px;
  display: inline-block;
}

.btn a:hover{
  background-color: rgb(26, 199, 159);
}

footer{
  border-top: 1px solid gray;
  text-align: center;
  line-height: 1px;
  background-color: rgb(202, 246, 241);
  height: 100px;
}
footer img{
  height: 55px;
  width: 100px;
  margin: 20px auto 0 auto;
}

footer p{
  font-size: 13px;
  color: gray;
  padding: 3px 0 5px 0;
  margin: 0;
}